@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.dark {
  color-scheme: dark;
  background: #111827;
}
.light {
  color-scheme: light;
  background: #fff;
}

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-[#f1f1f1] rounded-sm;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-[#888];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#555];
}
