.doc-page h1 {
  @apply mb-2;
}

.doc-page h2 {
  @apply mt-8 mb-2 scroll-m-16;
}

.doc-page h3 {
  @apply mt-8 mb-2;
}

.doc-page h4 {
  @apply mt-8 mb-2;
}

.doc-page p {
  @apply my-4 text-base text-gray-700 dark:text-gray-300;
}

.doc-page ul {
  @apply mt-4 list-disc list-inside;
}

.doc-page ol {
  @apply mt-4 list-decimal list-inside;
}

.doc-page hr {
  @apply my-8 border-t border-gray-200 dark:border-gray-800;
}

.doc-page em {
  @apply text-blue-700 dark:text-blue-300 not-italic;
}
