pre code.hljs {
  @apply block overflow-x-auto p-4 text-sm;
  font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.code-hljs {
  @apply block overflow-x-auto p-4;
}

.hljs {
  @apply text-gray-100;
}

code.hljs {
  @apply px-2 py-1;
}

.pre-hljs {
  @apply bg-gray-900;
}

.dark .hljs {
  @apply text-gray-100 bg-gray-900;
}

.hljs::selection,
.hljs ::selection {
  @apply bg-blue-600 text-gray-100;
}

.hljs-comment {
  @apply text-green-500;
}

.hljs-tag {
  @apply text-gray-400;
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  @apply text-gray-100;
}

.hljs-operator {
  @apply opacity-70;
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  @apply text-fuchsia-400;
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  @apply text-green-400;
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  @apply text-fuchsia-400;
}

.hljs-strong {
  @apply font-bold text-fuchsia-400;
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  @apply text-blue-400;
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  @apply text-cyan-300;
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  @apply text-fuchsia-400;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  @apply text-green-400;
}

.hljs-emphasis {
  @apply text-green-400 italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  @apply text-green-400;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  @apply font-bold;
}
